<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container">
  <h1 class="page-title">
    SIGN UP
  </h1>
  <span class="page-desc">
    lets create an account 
  </span>
  <form action="/signup" method="post" class="login-form form">
    <input type="email" name="email" class="input" placeholder="Enter email address">
    <input type="password" name="password" class="input" placeholder="Password">
    <input type="submit" value="Login" class="send-btn btn">
  </form>
  <a href="./login"> Already have an account ? Login here</a>
</body>
</html>